#map-body {
    background-image: url('../img/street-map.png');
    background-size: auto;
}

.left {
    width: 16%;
}

.right {
    padding-top: 25px;
    width: 83%;
}

#event {
    display: none;
}

.rating-box {
    display: none;
}

.rating {
    display: none;
}

/* SEARCH */
#search-bar {
    width: 40%;
}

#search-bar > input {
    padding: 10px;
    width: 100%;
}

.search-box {
    display: none;
}

/* FILTERS */
#filters {
    width: 41%;
}

#filters > div > button {
    padding: 10px 30px;
}

#filters > div {
    padding: 0 10px;
}

/* LOGIN */
#login {
    display: none;
    position: fixed;
    top: 30px;
    right: 50px;
}

#login button {
    border: solid 1px #ffc90e;
    background-color: #ffc90e;
    color: white;
    font-weight: bolder;
}

#login button:hover {
    border: solid 1px #f9d967;
    background-color: #f9d967;
}

#login img {
    width: 100%;
}

/* FOOTER */
div > img {
    width: 100px;
}

.zoom {
    position: fixed;
    bottom: 100px;
    right: 50px;
}

/* COOKIES */
.cookies {
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    font-size: smaller;
    font-style: italic;
    width: 100%;
    z-index: 1000;
}

.cookies-text {
    width: 79%;
}


.cookies-button {
    width: 20%;
    text-align: center;
}

.cookies-button div:nth-child(2) {
    margin-right: 50px;
}

.cookies button {
    font-weight: bolder;
    border: solid 1px #ffc90e;
}

#cookies-close {
    position: fixed;
    right: 0;
    bottom: 20px;
}

#cookies-close button {
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 0;
    background: none;
}

#cookies-close button:hover {
    background: none;
    color: black;
    cursor: pointer;
}

.restart-cookies {
    position: fixed;
    right: 50px;
    top: 30px;
}

.button-accept  {
    border: solid 1px #ffc90e;
    background-color: #ffc90e;
    color: white;
}

.button-accept:hover {
    border: solid 1px #f9d967;
    background-color: #f9d967;
}

.menu-hidden {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease;
    z-index: 1;
}

.menu-visible {
    left: 0;
}

#menu-toggle {
    position: fixed;
    top: 30px;
    left: 50px;
    z-index: 10;
}

#menu-close {
    background-color: none;
    box-shadow: 0 0 0;
    border: 0;
}


@media only screen and (max-width: 900px) {

    .zoom {
        display: none;
    }

    .cookies {
        display: none;
    }

    #search-bar {
        display: none;
    }

    #filters {
        display: none;
    }

    /* Search Bar Right Side */
    .search-box {
        display: list-item;
    }

    #search-right {
        z-index: -1;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 20%;
        right: 50px;
        background-color: rgb(255, 201, 14);
        border-radius: 10px;
    }

    #search-right button {
        width: 10%;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0 0 0;
    }

    #search-right img {
        padding: 5px 0;
        width: 75px;
    }

    /* Event */
    #event {
        display: flex;
        padding: 50px;
    }

    .event-text {
        display: flex;
        flex-direction: column;
        background-color: #dee2e6;
        justify-content: space-around;
        border: 1px solid rgb(0, 0, 0, 0.2);
        padding: 50px;
        box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    }

    .event-text:first-child {
        border-right: 0;
        border-radius: 50px 0 0 50px;
    }

    .event-text:last-child {
        border-left: 0;
        border-radius: 0 50px 50px 0;
    }

    #event img {
        width: 200px;
        height: 50%;
    }

    #event p {
        font-size: small;
    }

    .rating-box, .rating {
        display: list-item;
    }

    .rating img {
        padding-top: 20px;
        width: 300px;
        vertical-align: top;
    }
}
