article {
    padding-top: 5%;
    padding-bottom: 5%;
}

.info-box {
    padding-top: 75px;
}

.info-form {
    margin: 1.3rem 0 1.3rem 0;
    width: 40%;
    border-radius: 1.5rem;
    border: 3px solid lightgray;
}
h2 {
    padding: 1.5rem 0 1.5rem 0;
    width: 100%;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border: 2px solid lightgray;
    background-color: lightgray;
}
h3 {
    padding: 1.5rem;
}

label {
    font-weight: bold;
    margin: 0;
}
input {
    padding-left: 10px;
    margin: 10px 0 10px 0;
    width: 90%;
}
.user-img {
    width: 100px;
    height: auto; 
}
.top-nav-img > a > img {
    width: 150px;
    height: auto; 
}
article#user-information {
    padding: 2rem 0 2rem 3rem;
    text-align: start;
    position: relative;
}

article#user-information img.user-img {
    vertical-align: middle;
    border: 1px solid black;
    float: left;
    margin-right: 20px;
}

form {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 8rem);
}

#update-button {
    width: 60%;
    cursor: pointer;
}

#delete-button:hover {
    border: 1px solid #EB5D61;
    background-color:  #c44549;
    font-weight: bold;
    width: 30%;
    cursor: pointer;
}
#delete-button {
    border: 1px solid #EB5D61;
    color: white;
    font-weight: bold;
    background-color: #EB5D61;
    width: 30%;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .info-form input {
        width: 50%;
    }
}
