/* AJUSTES GENERALES */

* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aligned {
    display: inline-block;
    height: 100%;
}


.flex {
    display: flex;
}

.center  {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

/* Default Button */
button {
    padding: 10px 20px;
    border-radius: 20px;
    border: solid 1px rgb(255, 201, 14);
    box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

input {
    border: solid 1px rgb(255, 201, 14);
    border-radius: 20px;
    height: 25px;
    box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

button:hover {
    background-color: #ffc90e;
    color: white;
}

/* Aside */
#menu-content {
    margin-top: 80px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    position: fixed;
    width: 250px;
    padding-top: 50px;
}

#menu-content img {
    width: 200px;
}

#menu-content div button {
    border: 0;
    box-shadow: 0 0 0;
}

#menu-content div button:hover {
    background-color: rgba(0, 0, 0, 0);
}

#menu-content-tablet {
    display: none;
}

/* Aside - Button */
#menu-content > ul > li > a > button {
    padding: 20px 0 20px 20px;
    font-weight: bold;
    font-size: large;
    color: black;
    border: solid 0;
    border-radius: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 1);
    width: 250px;
    text-align: left;
}

#menu-content > ul > li > a > button:hover {
    background-color: #ffc90e;
    color: white;
}

#menu-content > ul li:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.275);
}

/* Aside - Content-locked */
.content-locked {
    opacity: 50%;
}

#menu-content .content-locked button:hover {
    background-color: white;
    color: black;
}

/* Login */
#menu-login {
    background-color: white;
    position: fixed;
    right: 0;
    width: 250px;
    padding-top: 175px;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    z-index: 1;
}

#menu-login a > button {
    color: white;
    background-color: #c43b3d;
    border: solid 1px #c43b3d;
}

#menu-login a > button:hover {
    background-color: #e26769;
    border: solid 1px #e26769;
}

/* Profile Picture */
#profile-picture {
    border-radius: 50%;
    width: 100%;
}

#signout {
    position: fixed;
    top: 30px;
    right: 50px;
}

#signout button {
    color: white;
    background-color: #c43b3d;
    border: solid 1px #c43b3d;
}

#signout button:hover {
    background-color: #e26769;
    border: solid 1px #e26769;
}


/* MEDIA QUERY */
@media only screen and (max-width: 900px) {
    /* Menu-Content */
    #menu-content {
        display: none;
    }

    #menu-content-tablet {
        display: inline-block;
        position: fixed;
        top: 30px;
        left: 50px;
    }

    #menu-content-tablet button {
        width: 100%;
    }

    #menu-content-tablet img {
        width: 32px;
    }

    /* Menu Login */
    #menu-login {
        display: none;
    }
}