<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlashFood | Alertas</title>
    <link rel="stylesheet" href="/src/assets/css/myalerts.css" />
    <link rel="stylesheet" href="/src/assets/css/style.css" />
</head>

<body>
    <!-- Aside -->
    <aside id="menu-content" class="aligned">
        <ul>
            <div class="center">
                <a href="/src/pages/view/login/index-user.html">
                    <button><img src="/src/assets/img/logo.png" alt="logo-home-page"></button>
                </a>
            </div>
            <li><a href="/src/pages/view/aside/informacion.html"><button>Información cuenta</button></a></li>
            <li><a href="/src/pages/view/aside/direcciones.html"><button>Direcciones</button></a></li>
            <li><a href="/src/pages/view/aside/historialydetalles.html"><button>Historial y detalles</button></a></li>
            <li><a href="/src/pages/view/aside/facturasporabono.html"><button>Facturas por abono</button></a></li>
            <li><a href="/src/pages/view/aside/cuponesdedescuento.html"><button>Cupones de descuento</button></a></li>
            <li><a href="/src/pages/view/aside/milistadedeseos.html"><button>Mi lista de deseos</button></a></li>
            <li><a href="/src/pages/view/aside/myalerts.html"><button>My alerts</button></a></li>
            <li><a href="/src/pages/view/aside/soportetecnico.html"><button>Soporte técnico</button></a></li>
        </ul>
    </aside>
    <div class="center">
        <div class="info-form aligned">
            <h2>My alerts</h2>
            <article>
                <div class="plan">
                    <h3>KFC</h3>
                    <p>Chicken box por 4,99€</p>
                    <img src="/src/assets/img/burgers/burger-2.jpg" alt="">
                </div>
                <div class="plan">
                    <h3>Goiko Grill</h3>
                    <p>Prueba la hamburguesa premiada KevinPopsy</p>
                    <img src="/src/assets/img/burgers/burger-1.png" alt="">
                </div>
            </article>
        </div>
    </div>
</body>

</html>
