/* Reset */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

/* Body */
#body-background {
  background-color: #ebebeb;
}

/* Return to main page */
.return-button {
  margin-left: 2.5rem;
  position: relative;
  top: 4.5rem;
}

/* Logo */
.logo-container {
  text-align: center;
}

.logo {
  margin-top: 50px;
  width: 350px;
}

/* Header */
#header-background {
  background-color: white;
  box-shadow: 0 5px 2.5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 50px 50px;
  margin-top: -35px;
}

/* Content */
#content-container {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

/* Title */
#title-container {
  padding-top: 100px;
  text-align: center;
}

#title-container button {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0;
  font-weight: bolder;
  font-size: larger;
  margin: 0 auto;
}

#title-container #title-button {
  background-color: white;
  color: black;
  border-bottom: 2px solid red;
}

/* Main */
.main {
  padding-top: 50px;
  text-align: left;
}

/* Default Button Style */
button {
  padding: 10px 20px;
  border-radius: 20px;
  border: solid 1px rgb(255, 201, 14);
  box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

button:hover {
  cursor: pointer;
}

/* Input */
input {
  border: solid 1px rgb(255, 201, 14);
  border-radius: 20px;
  box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

button:hover {
  background-color: #ffc90e;
  color: white;
}

/* Main Image */
.main-img {
  margin: 2rem;
  height: 30%;
  width: 30%;
  border: 5px solid #ffc90e;
}

/* Text Content */
.text-content {
  width: 65%;
}

.text-content p {
  margin: 2rem 0;
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}

.text-content .join-us {
  margin-top: 4rem;
  font-size: 2rem;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  #content-container {
    flex-direction: column;
    align-items: center;
  }

  .main-img {
    width: 80%;
    height: auto;
  }

  .text-content {
    width: 80%;
  }
}