/* Reset */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

/* Body */
#grey-background {
  background-color: #ebebeb;
}

.aligned {
  height: auto;
  text-align: center;
}

/* Return to main page */
.return {
  margin-left: 2.5rem;
  position: relative;
  top: 4.5rem;
}

/* Logo */
.div-logo {
  text-align: center;
}

.logo {
  margin-top: 50px;
  width: 350px;
}

/* Header */
#white-background {
  background-color: white;
  box-shadow: 0 5px 2.5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 50px 50px;
  margin-top: -35px;
}

/* Content */
#main-div {
  width: 20%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* Title */
#div-title {
  padding-top: 180px;
  text-align: center;
}

#div-title button {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0;
  font-weight: bolder;
  font-size: larger;
  margin: 0 auto;
}

#div-title #technical-title {
  background-color: white;
  color: black;
  border-bottom: 2px solid red;
}

/* Sign In With */
.signin-faster {
  width: 32px;
  height: 32px;
}

/* Main */
.main {
  padding-top: 50px;
  text-align: left;
}

.main>div>button {
  border: 0;
  margin: 0 10px;
}

.main>div {
  padding-bottom: 30px;
  font-weight: bolder;
}

div>input {
  width: 100%;
  box-shadow: 0 0 0;
  border: 0;
  margin-top: 20px;
}

.main>div>a>button {
  width: 100%;
  background-color: #ffc90e;
  color: white;
  font-weight: bold;
}

.main>div>a>button:hover {
  border: solid 1px #f9d967;
  background-color: #f9d967;
}

.support-box {
  margin-top: 10px;
}

#support {
  color: red;
  text-decoration: underline red;
  font-style: oblique;
  font-weight: 100;
  font-size: small
}

.help-box {
  border-top: 1px solid black;
  padding-top: 30px;
}

.help-box>div button {
  width: 100%;
  border: 1px solid black;
  border-radius: 0;
  font-style: italic;

}

.help-box>p {
  padding-bottom: 15px;

}

/* Default Button Style */
button {
  padding: 10px 20px;
  border-radius: 20px;
  border: solid 1px rgb(255, 201, 14);
  box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

button:hover {
  cursor: pointer;
}

input {
  border: solid 1px rgb(255, 201, 14);
  border-radius: 20px;
  box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

button:hover {
  background-color: #ffc90e;
  color: white;
}

/* Signin Buttons */
#div-title {
  padding-top: 190px;
}

#div-title button {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0;
  font-weight: bolder;
  font-size: larger;
}

#div-title #sign-button {
  background-color: #fff;
  color: grey;
  border-bottom: 0.3rem solid #fff;
}

#div-title #sign-button-selected {
  background-color: #fff;
  color: #000;
  border-bottom: 0.3rem solid red;
}

#div-title #sign-button:hover {
  background-color: #fff;
  color: #000;
}

.signin-faster {
  width: 32px;
  height: 32px;
}

.signin-input {
  padding: 0.5rem 0;
  border: solid 1px #ffc90e;
  background-color: #ffc90e;
  color: #000;
  font-size: bolder;
}

.signin-input:hover {
  padding: 0.5rem 0;
  border: solid 1px #f9d967;
  background-color: #f9d967;
  cursor: pointer;
}

/* Error Validator Message */
label.error {
  color: red;
}